*{
    box-sizing: border-box;
}
    h1, h3 {
        margin: 2rem;
    }

    .header-menu {
        display: none;
    }

header {
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}
.h3-launch {
    padding-top: 2rem;
    color: #FF3998;
}
.h1-nft {
    width: 274px;
    height: 116px;
    font-size: 75px;
    line-height: 58px;
    font-weight: bolder;
}
.allien-launch {
    display: flex;
}



.description {
    padding-top: 3rem;
    font-size: 20px;
    line-height: 150%;
    margin-left: 2rem;
    color: #555555;
}

.signup {
    font-size: large;
    margin: 3rem;
    height: 4rem;
    border-radius: 40px;
    width: 9rem;
    background-color: white;
    border-color: rgb(255, 47, 0) 
    /* border-image: linear-gradient(to right, red, rgba(242, 242, 11, 0.234)) 1;
    background: linear-gradient(45deg,red,rgb(153, 255, 0)) border-box; 
       -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;  */
}
.nft-main {
    background-image: url("assets/assets/background.svg");
    background-repeat: no-repeat;
}
.nft-earlybirds {
    font-size: large;
    height: 20rem;
    margin-left: 2rem;
    border-bottom-left-radius: 0%;
}


.p1 {
    font-size: 70px;
    margin-bottom: 0;
}
.p2 {
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 4rem;
}
.item {
    flex: 33.33%;
    margin: 5px;
    height: 3rem;
    width:  20%;
}
.h1-auction {
    padding-top: 2rem;
    font-size: 4rem;
}
.p-auction {
    margin-left: 2rem;
    font-size: 20px;
    line-height: 150%;
    margin-left: 2rem;
    color: #555555;
}
.nfts-photos {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    margin-bottom: 0;
    clear: both;
}
.p-nft1-alignleft {
    margin-top: 0;
    background-color: #EEEEEE;
    border-radius: 5%;
    float: left;
}

.companies-logos {
    padding-top: 0.5rem;
    margin-left: 2rem;
    color: #555555;
}
.description-2 {
    font-size: 20px;
    padding-top: 0.5rem;
    margin-left: 2rem;
    color: #555555;
}

.container2 {
    margin-left: 2rem;
    margin-top: 3rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 4fr;
}
.content1, .content2, .content3, .content4 {
    padding-left: 1px;  
}

ul {
    list-style-type: none;
}
a {
        text-decoration: none;
        color: #555555;
}

.item4 {
        display: none;
    }

    #footer2 {
        display: none;
    }


@media screen and (min-width: 800px) {

    .hamburger {
        display: none;
    }
    .item4 {
        display: flex;
        flex: 33.33%;
        margin: 5px;
        height: 3rem;
        width:  20%;
    }
    
    .header-menu {
        display:contents;
        display:flex;
    }
    .header-menu2 > a {
        margin-left: 20px;
        color: #555555;
        justify-content: space-between;

    }
    .container > img, .item4 {
        display: inline-block;
        max-width: 18%;

    }
    
    .container {
        display: inline-block;
        flex-direction: row;
    }

    .container2 {
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin-top: 0;
        
   }

   .logo-description {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
   }
   .footer {
    display: flex;
    justify-content: space-between;
   }

}